.projects {
  padding: 80px 20px;
  background: #121212;
  color: #fff;
  text-align: center;
}

.section-title {
  font-size: 2rem;
  margin-bottom: 40px;
}

.project-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.project-card {
  background: #1e1e1e;
  padding: 20px;
  width: 300px;
  border-radius: 10px;
  text-align: left;
  border: 1px solid #00ADB5;
  transition: 0.3s;
}

.project-card:hover {
  transform: translateY(-5px);
  border-color: #00838f;
}

.project-card h3 {
  margin-bottom: 10px;
}

.project-card p {
  color: #bbb;
  margin-bottom: 15px;
}

.project-btn {
  text-decoration: none;
  color: #fff;
  background: #00ADB5;
  padding: 10px 15px;
  border-radius: 5px;
  transition: 0.3s;
}

.project-btn:hover {
  background: #00838f;
}
