.skills {
  padding: 80px 20px;
  background: #181818;
  color: #fff;
  text-align: center;
}

.section-title {
  font-size: 2rem;
  margin-bottom: 40px;
}

.skills-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.skill-item {
  background: #1f1f1f;
  padding: 12px 20px;
  border-radius: 8px;
  border: 1px solid #00ADB5;
  font-size: 1rem;
  transition: 0.3s;
}

.skill-item:hover {
  transform: scale(1.05);
  border-color: #00838f;
}
